mixin times(limit, block)
  - for (var i = 1; i <= limit; i++) {
    block
  - }

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/hearts.css')
    body
      block content
        div#container
          div.whitespace.jumbobox
            span A
            button.donate DONATE
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/packery.pkgd.min.js')
      script(src='/javascripts/velocity.min.js')
      script(src='/javascripts/hearts.js')

  

      
        