extends layout

block content
    h1= title
    p SACH Hearts for Hearts 
    div.heartdisplay
        div.heart.epic.blue
            span#userHeartstyle A
        
    // Wrapper
    #wrapper

        // USER INFO
        #heartInfo
            h2 Heart Info
            p
                strong Email:
                |  <span id='userInfoEmail'></span>
                br
                strong Your Name:
                |  <span id='userInfoFullName'></span>
                br
                strong Donation Amount:
                |  <span id='userInfoDonationAmount'></span>
                br
                strong Message:
                |  <span id='userInfoInputMessage'></span>
                br
                strong Currency:
                |  <span id='userInfoCurrency'></span>
                br
                strong Color:
                |  <span id='userInfoColor'></span>
                br
                strong Style:
                |  <span id='userInfoHeartstyle'></span>
        // /USER INFO

        // USER LIST
        h2 Heart List
        #heartList
            table
                thead
                    th User Name
                    th Email
                    th Donation Amount
                    th Heart Color
                    th Heart Style
                    th Delete?
                tbody
        // /USER LIST

        // ADD HEART
        h2 Add Heart
        #addHeart
            fieldset
                input#inputDonationAmount(type='text', placeholder='Donation Amount')
                input#inputUserEmail(type='text', placeholder='Family Email')
                input#inputUserFullname(type='text', placeholder='Full Name')
                input#inputMessage(type='text', placeholder='Your custom message')
                select#inputCurrency
                    option USD
                    option GBP
                    option AUD
                    option CAD
                    option EUR
                    option HKD
                    option SGD
                select#inputColor
                    option #ff0000
                    option #00ff00
                    option #0000ff
                select#inputHeartstyle
                    option A
                    option B
                    option C
                br
                button#btnAddUser DONATE

            
            
        // /ADD HEART

    // /WRAPPER