doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/hearts.css')
    body
        block content
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/global.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/packery/1.3.2/packery.pkgd.min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js')
        