doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/hearts.css')
    body
        block content
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/global.js')
        script(src='/javascripts/chance.js')
        script(src='/javascripts/hearts.js')
        script(src='/javascripts/packery.pkgd.min.js')
        script(src='/javascripts/velocity.min.js')