@font-face {
    font-family: 'heartsregular';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/166569/hearts-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/166569/hearts-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/166569/hearts-webfont.woff2') format('woff2'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/166569/hearts-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/166569/hearts-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/166569/hearts-webfont.svg#heartsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.heart {
  padding: 5px;
  margin: 3px;
  display: block;
  background: lightgrey;
  border-radius: 4px;
  line-height: .75em;
  height: .72em;
  font-family: "heartsregular";
}

.small   { font-size: 47px; }
.med     { font-size: 89px; }
.large   { font-size: 117px; }
.xlarge   { font-size: 139px; }
.epic    { font-size: 200px; }
.tiny    { font-size: 19px; }

.blue         { background: rgb(0,145,207); color: rgba(255,255,255, 0.6) }
.lightblue    { background: rgb(53,195,222); color: rgba(255,255,255, 0.6); }
.green        { background: rgb(177,206,76); color: rgba(255,255,255, 0.6); }
.gold         { background: rgb(255,199,9); color: rgba(255,255,255, 0.6); }
.orange       { background: rgb(247,146,40); color: rgba(255,255,255, 0.6); }
.red          { background: rgb(240,83,80); color: rgba(255,255,255, 0.6); }
.pink         { background: rgb(238,61,133); color: rgba(255,255,255, 0.6);}
.purple       { background: rgb(155,98,166); color: rgba(255,255,255, 0.6); }

#container {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background: white;
}

.whitespace {
  display: block;
  background: lightgrey;
  position: absolute;
  text-align: center;
  margin: 5px;
  height: 30px;
}

.jumbobox {
  z-index: 1000;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 300px;
  font-family: "heartsregular";
  color: white;

  line-height: .8em;
  top: 100px;
  left: 35%;
  background-color: rgb(0,145,207)    
}

button.donate {
  position: relative;
  top: -180px;
  padding: 0 20px;
  margin: auto;
  font-family: sans-serif;
  font-size: 30px;
  height: 1.2em;
  line-height: .75em;
  border: 0;
  border-radius: 10px;
  background: orange;
}



