body {
  background: #303030;
  /*min-height: 2000px;*/
  /*might scrap the one above. */
  /*padding-top: 126px;*/
}

.container, .jumbotron {
  width: 100%;
  border-radius: 0;
  margin: 0;
  background-color: #0591C6;
}
.container {
  color: white;
}

#logoContainer {
  display: block;
  max-height: 100%;
  max-width: 70%;
}
.centered{
  margin: 0 auto;
}
#centerDonate {
   display:block;
   width:170px;
   margin:0 auto;
   margin-top: 15px;
}
#meterOutside{
  position: relative;
  width: 260px;
  height: 260px;
  /*border: 4px solid white;*/
  /*padding: 4px;*/
  background-color: white;
  margin: 0 auto;
}

#meterOverlay {
  position: absolute;
  z-index: 1000;
}

#meterTotal {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  font-size: 2.5rem;
  color: #b0b0b0;
  z-index: 1001;
}

#meter {
  position: absolute;
  /*z-index: 100;*/
  /*margin: 4px;*/
  bottom: 0px;
  width: 100%;
  height: 10%;
  background-color: red;
}

#leftDesignScroller {
  font-family: "heartsregular";
  font-size: 3rem;
  color: grey;
  cursor: pointer;
}

#rightDesignScroller {
  font-family: "heartsregular";
  font-size: 3rem;
  color: grey;
  cursor: pointer;
}
.heart {
  position: absolute;
  top: -300px;
  left: -300px;
  padding: 3px;
  margin: 6px;
  display: inline;
  background: rgb(90,90,90);
  border-radius: 1rem;
  line-height: .75em;
  height: .75em;
  font-family: "heartsregular";
  cursor: pointer;
}

.small   { font-size: 10rem;}
.med     { font-size: 15rem;}
.large   { font-size: 21rem; }
.xlarge   { font-size: 29rem; }
.epic    { font-size: 37rem; }
.tiny    { font-size: 7rem; }

.blue         { background: rgb(0,145,207); color: rgba(255,255,255, 0.6) }
.lightblue    { background: rgb(53,195,222); color: rgba(255,255,255, 0.6); }
.green        { background: rgb(177,206,76); color: rgba(255,255,255, 0.6); }
.gold         { background: rgb(255,199,9); color: rgba(255,255,255, 0.6); }
.orange       { background: rgb(247,146,40); color: rgba(255,255,255, 0.6); }
.red          { background: rgb(240,83,80); color: rgba(255,255,255, 0.6); }
.pink         { background: rgb(238,61,133); color: rgba(255,255,255, 0.6);}
.purple       { background: rgb(155,98,166); color: rgba(255,255,255, 0.6); }
.emptyGrey    { background: rgb(90,90,90); color: rgba(255,255,255, 0.2); }

.progress {
  margin-bottom: 0px;
}

#navigationBar {
  background-color: #0591C6;
}
#navigationBar img {
  margin-top: -10px;
  display: inline;
}

#navHeaders li a{
  color: white;
}
#container {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
#donationBox {
  background-color: rgb(0,145,207);
  position:absolute;
  width:100%;
  height:20%;
  top:9%;
  color: white;
}
#innerDonationBox {
  text-align: center;
}
.whitespace {
  display: block;
  background: lightgrey;
  position: absolute;
  text-align: center;
  margin: 5px;
  height: 30px;
}

.jumbobox {
  width: 40%;
  min-width: 400px;
  height: 20em;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  color: white;

  line-height: .8em;
  top: 300px;
  left: 30%;
  background-color: rgb(0,145,207)    
}

.donate {
  position: relative;
  padding: 0 20px;
  margin: auto;
  font-family: sans-serif;
  font-size: 30px;
  height: 1.2em;
  line-height: .75em;
  border-radius: 10px;
  background-color: #ffac33;
  background-image: linear-gradient(#ffcc4d,#ffac33);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d,endColorstr=#ffac33,GradientType=0)";
  border-color: #f1a02a;
  color: #292f33!important;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
#rightJumboCover {
  font-size: 24px;
}
/* navbar styling ----------- */

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: white;
}
/*#navigationBar {*/
/*  visibility: hidden;*/
/*}*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /*body {*/
  /*  padding-top: 78px;*/
  /*}*/
.heart {
  
  padding: .25rem;
  margin: .5rem;
  display: inline;
  border-radius: .5rem;
  line-height: .75em;
  height: .75em;
  font-family: "heartsregular";
}
.small   { font-size: 9rem;}
.med     { font-size: 13rem;}
.large   { font-size: 17rem; }
.xlarge   { font-size: 23rem; }
.epic    { font-size: 29rem; }
.tiny    { font-size: 1rem; }
#logoContainer {
  max-width: 100%;
}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
#rightJumboCover {
  font-size: 17px;
}
#logoContainer {
  max-width:100%;
}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

