#clickedHeartPic {
	text-align: center;
}
#donationGreeting {
	text-align: center;
}
#clickedHeartPic span{
	font-size: 600px;
}
#instructions {
	color: white;
}
#anonymousInfo {
	width: auto;
}
#heartContent p {
	font-family: Arial, sans-serif;
	font-size: 18px;
}
#modalcontent {
  position: absolute;
  width: 60%;
  height: 80%;
  left: 20%;
  top: 10%;
  background: #303030;
	border: 3px solid white;
	border-radius: 10px;
}
#donationGreeting[aria-hidden="true"] {
	display: none;
}
#donationCallToAction[aria-hidden="true"]  {
	display: none;
}
#donationGreeting h3 {
	color: grey;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 60%;
}
#greetingTransfer {
	font-size: 25px;
	background-color: orange;
	border: 2px solid orange;
	border-radius: 10px;
}
#greetingHeart {
	position: static;
}
input {
  	width: 50%;
	border-radius: 5px;
}
#messageInfo {
	height: 30%;
}
#currencyInfo {
  border-radius: 5px;
}
#submit {
	font-size: 30px;
	border: orange;
	border-radius: 10px;
	background-color: orange;
	color: white;

}
.colorbars {
  width: 8%;
	border-radius: 50%;
  height: 30px;
  position: absolute;
}
#blueselector {

}
#lightblueselector {
	left: 17%;
}
#greenselector {
	left: 28%;
}
#goldselector {
	left: 39%;
}
#orangeselector {
	left: 50%;
}
#redselector {
	left: 61%;
}
#pinkselector {
	left: 72%;
}
#purpleselector {
	left: 83%;
}
#instructions {

}
#colorselector {
	height: 35px;
}
.leftDesign {
	float:left;
}
.rightDesign {
	text-align: right;
}
#heartPreview {
	display:block;
	text-align: center;
	width: 280px;
	position:relative;
	top: 0px;
	left: 0px;
	margin: 0 auto;
}
.blue         { background: rgb(0,145,207); color: rgba(255,255,255, 0.6) }
.lightblue    { background: rgb(53,195,222); color: rgba(255,255,255, 0.6); }
.green        { background: rgb(177,206,76); color: rgba(255,255,255, 0.6); }
.gold         { background: rgb(255,199,9); color: rgba(255,255,255, 0.6); }
.orange       { background: rgb(247,146,40); color: rgba(255,255,255, 0.6); }
.red          { background: rgb(240,83,80); color: rgba(255,255,255, 0.6); }
.pink         { background: rgb(238,61,133); color: rgba(255,255,255, 0.6);}
.purple       { background: rgb(155,98,166); color: rgba(255,255,255, 0.6); }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#clickedHeartPic span{
		font-size: 362px;
	}  
	.colorbars {
		width: 11%;
	}
	.modal-content {
/*		position: absolute;
		width:100%;
		height: 500px; */
	}
	#donationGreeting {
/*		position:absolute;
		height: 100%;
		width: 100%; */
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #clickedHeartPic span{
		font-size: 362px;
	}  
	.colorbars {
		width: 6%;
	}
	.modal-content {
/*			position: absolute;
			width: 100%;
			height: 500px; */
	}
	#donationGreeting {
/*		position:absolute;
		height: 100%;
		width: 100%; */
	}		
	#heartContent {
/*		position: absolute;
		left: 33%; */
	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}