#clickedHeartPic {
	text-align: center;
}
#donationGreeting {
	text-align: center;
	padding-top: .5rem;
}
#clickedHeartPic span{
	font-size: 550px;
}
#instructions {
	color: white;
}
#anonymousInfo {
	width: auto;
}
#heartContent {
	margin-bottom: 1.5rem;	
}
#heartContent h2 {
	font-family: Arial, sans-serif;
	font-size: 20px;
}
#heartContent p {
	font-family: Arial, sans-serif;
	font-size: 15px;
}
#modalcontent {
  	position: absolute;
  	width: 60%;
  	height: 80%;
  	left: 20%;
	top: 10%;
  	background: #303030;
	border: 3px solid white;
	border-radius: 10px;
}
#ThankYouModal[aria-hidden="true"] {
	display:none;
}
#donationGreeting[aria-hidden="true"] {
	display: none;
}
#donationCallToAction[aria-hidden="true"]  {
	display: none;
}
#donationGreeting h3 {
	color: grey;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 60%;
}
#greetingTransfer {
	font-size: 25px;
	background-color: orange;
	border: 2px solid orange;
	border-radius: 10px;
	margin-bottom: 1rem;
}
#greetingHeart {
	position: static;
}
#modalbody {
	position: static;
}
input {
  	width: 40%;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right:1rem;
}
#submit{
	margin-left: 12.5rem;
}
#messageInfo {
	height: 10rem;
}
#currencyInfo {
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#heartOptionsCounter {
	text-align: center;
}
#previewContainer{
	text-align: center;
}
#heartPreview {
	position: relative;
	display: inline-block;
	text-align: center;
}
#colorselector {
	width: 80%;
	display: block;
	height: 4rem;
	margin: 0 auto;
	position: fixed;
	bottom:2rem;
	left: 6.5rem;
}
#leftDesignScroller {
  font-family: "heartsregular";
  font-size: 4rem;
  color: grey;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

#rightDesignScroller {
  font-family: "heartsregular";
  font-size: 4rem;
  color: grey;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;  
}
.colorbars {
	width: 3rem;
	height: 3rem;
	margin: .5rem;
	border-radius: 50%;
	display: inline-block;
}
.directionText {
	font-family: Arial, sans-serif;
	font-size: 18px;
}

.leftDesign {
	position: relative;
	float:left;
	top: -50%;
}
.rightDesign {
	float: right;
}
.ModalCloser {
	font-size: 38px;
	margin-right: 1rem;
}

.blue         { background: rgb(0,145,207); color: rgba(255,255,255, 0.6) }
.lightblue    { background: rgb(53,195,222); color: rgba(255,255,255, 0.6); }
.green        { background: rgb(177,206,76); color: rgba(255,255,255, 0.6); }
.gold         { background: rgb(255,199,9); color: rgba(255,255,255, 0.6); }
.orange       { background: rgb(247,146,40); color: rgba(255,255,255, 0.6); }
.red          { background: rgb(240,83,80); color: rgba(255,255,255, 0.6); }
.pink         { background: rgb(238,61,133); color: rgba(255,255,255, 0.6);}
.purple       { background: rgb(155,98,166); color: rgba(255,255,255, 0.6); }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#heartBelongs {
		padding-top: 2rem;
	}
	#clickedHeartPic span{
		font-size: 20rem;
	}  
	.colorbars {
		width: 7.75%;
		height: 2.3rem;
		
	}
	#colorselector {
		position: absolute;
		left:11%;
		bottom: 0rem;
	}
	.ModalCloser {
	font-size: 34px;
	margin-right: 0rem;
	}	
	#submit {
		width: 16rem;
		margin-left: 4rem;
	}
	input {
		width: 48%;
		margin-right: .3rem;
	}
	/* Not sure about last tag, the mobile devices just don't zoom out correctly.*/	
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #clickedHeartPic span{
		font-size: 362px;
	}  
	.colorbars {
		width: 4%;
	}

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
/*	#LeftDesignModal {
	padding-top: 4.5rem;
	} */

}